.item {
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: orange;
}

.itemTwo {
  top: 100px;
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: pink;
}

.itemThree {
  top: 200px;
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: yellow;
}
.resizer {
  position: absolute;
  height: 40px;
}

.resizer.e {
  border-style: solid;
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-color: black;
  right: -1px;
  cursor: e-resize;
}

.resizer.w {
  border-style: solid;
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-right-style: hidden;
  border-color: black;
  cursor: w-resize;
}

/* .resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  z-index: 2;
} */

/* .resizer.nw {
  top: -1px;
  left: -1px;
  cursor: nw-resize;
}

.resizer.ne {
  top: -1px;
  right: -1px;
  cursor: ne-resize;
}
.resizer.sw {
  bottom: -1px;
  left: -1px;
  cursor: sw-resize;
}
.resizer.se {
  bottom: -1px;
  right: -1px;
  cursor: se-resize;
} */

.gridBox {
  background-color: lightgray;
  width: 70%;
  height: 300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
